<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ 'apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-touch-icon-57x57.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-touch-icon-72x72.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'apple-touch-icon-76x76.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-touch-icon-114x114.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'apple-touch-icon-120x120.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-touch-icon-144x144.png' | asset_url }}" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'apple-touch-icon-152x152.png' | asset_url }}" />
  
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="canonical" href="{{ canonical_url }}" /> 

  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-cards' %}

  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'neols.css' | asset_url | stylesheet_tag }}
  {{ 'social/social-icons.css' | global_asset_url | stylesheet_tag }}
  {{ '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' | stylesheet_tag }}
  {% if settings.google_header_font != "none" %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.google_header_font }}:300,400,700">
  {% endif %}
  {% if settings.google_nav_font != "none" %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.google_nav_font }}:300,400,700">
  {% endif %}
  {{ 'html5shiv.js' | asset_url | script_tag }}

  {{ content_for_header }}
  
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  
</head>

<body {% if template == 'index' %} id="homepage" {% endif %}>
<div id="background">
  <!-- Begin toolbar -->
  <div class="toolbar-wrapper">
    <div class="toolbar clearfix">
        <ul class="unstyled">
          {% if cart.item_count != 0 %}
          <li id="checkout-link" class="fr"><a href="/cart" class="btn" title="Checkout">Checkout</a></li>
          {% endif %}
          <li class="fr"><a href="/cart" class="cart" title="Shopping Cart"><i class="fa fa-shopping-cart"></i> Cart ({{ cart.item_count }} items)</a></li>
          {% include 'customer-links' %}
        </ul>
        <div id="menu-button" class="menu-icon"><i class="fa fa-bars"></i>Menu</div>
    </div>
  </div>
  <!-- End toolbar -->
  
  <!-- Begin Mobile Nav -->
  <div class="row mobile-wrapper">    
    <nav class="mobile clearfix">
      {% include 'mobile-menu' %}
    </nav>  
  </div>
  <!-- End Mobile Nav -->

  <!-- Begin wrapper -->
  <div id="transparency" class="wrapper">


   <!-- Begin Nav -->
    <div class="row" id="header">
            <section class="span5 nav"><nav class="main">{% include 'site-nav-right' %}</nav></section>
                <div class="span2 logo-neols">
                  {% if settings.use_logo %}
                  <a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /></a>
                  {% if template == 'index' %}
                  <h1 style="display:none"><a href="/">{{ shop.name }}</a></h1>
                  {% endif %}
                  {% else %}              
                  <h1><a href="/">{{ shop.name }}</a></h1>
                  {% endif %}
                </div>
            <section class="span5 nav"><nav class="main">{% include 'site-nav-left' %}</nav></section>
    </div>
      
      <!-- Begin content-->
      <section id="content" class="clearfix">
        {{ content_for_layout }}
      </section>
      <!-- End content-->
      
    </div>
  </div>
  <!-- End wrapper -->
  
  <!-- Begin footer -->
  <div class="footer-wrapper">
    <footer>
      <div class="row">

        <div class="span12 full-border"></div>

        {% if settings.centered_navigation %}
		<!-- Begin footer navigation Centered -->
        <div class="span12 footer-menu centered">
        <p>{{ settings.footer_linklist_title }}</p>
          <ul class="unstyled">
            {% for link in linklists[settings.footer_linklist].links %}
              <li> | <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- End footer navigation Centered -->

        {% else %}

        <!-- Begin footer navigation -->
        <div class="span5 footer-menu">
        <p>{{ settings.footer_linklist_title }}</p>
          <ul class="unstyled">
            {% for link in linklists[settings.footer_linklist].links %}
              <li> | <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- End footer navigation -->

        {% endif %}
        
        {% unless blog_module_in_footer %}
        <div class="span2">          
          <div class="clearfix" id="footer-social">&nbsp;
          {% if settings.enable_social_links %}
            {% include 'social-links' %}
          {% endif %}
          </div>
          
        </div>
        {% endunless %}
        
        
        <!-- Begin newsletter/social -->
        <div class="span5">
          
          {% if settings.footer_display_newsletter %}
          <div id="footer-email">
            <form action="{{ settings.mailing_list_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <label>{{ settings.footer_newsletter_title }}</label><input type="email" value="" placeholder="Enter Your Email Address" name="EMAIL" id="mail" /><input type="submit" class="btn newsletter" value="GO" name="GO" id="subscribe" />
            </form>
          </div>
          {% endif %}
          
        </div>
        <!-- End newsletter/social -->

      </div> 
    </footer>
  </div>
  <!-- End footer -->
    
  {% if settings.display_slideshow %}
    {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}
  {% endif %}
  {% if settings.enable_product_image_zoom %}
    {{ 'jquery.zoom.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'jquery.tweet.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}
  {{ 'scripts.js' | asset_url | script_tag }}
  
  {% if template contains 'product' %}
  
  <script>

  var selectCallback = function(variant, selector) {
    
    if (variant) {
      
      if (variant.price < variant.compare_at_price) {
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + " <del>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</del>");
      } 
      else {
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
      }
      if (variant.available) {
        jQuery('#add-to-cart').removeAttr('disabled').removeClass('disabled').val('Add to cart'); 
      } 
      else {
        jQuery('#add-to-cart').val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
      }
    }
    else {
      jQuery('#add-to-cart').val('Unavailable').addClass('disabled').attr('disabled', 'disabled');
    }
    
  };
  
  jQuery(document).ready(function($){
    new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });

    // Add label if only one product option and it isn't 'Title'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
    {% endif %}
  
    // Auto-select first available variant on page load.
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
      {% if variant.available and found_one_in_stock == false %}
        {% assign found_one_in_stock = true %}
        {% for option in product.options %}
        $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
        {% endfor %}
      {% endif %}
    {% endfor %}

  });
             
  </script>
  
  {% endif %}
</body>
</html>