		</div>
	</div>
</div>
<div id="page-content">
<div class="wrapper">
{% layout settings.customer_layout %}
<div id="customer-account">
  
  <div class="row">
    <div class="span12">
      <h1 class="title clearfix">Account Details <span class="note">{{ 'Logout' | customer_logout_link }}</span>
      </h1>
    </div>
  

  
    <div id="customer_orders" class="span12">
      {% if customer.orders.size != 0 %}
      <table>
        <thead>
          <tr>
            <th class="order_number">Order</th>
            <th class="date">Date</th>
            <th class="payment_status">Payment Status</th>
            <th class="fulfillment_status">Fulfillment Status</th>
            <th class="total">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for order in customer.orders %}
          <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td>{{ order.name | link_to: order.customer_url }}</td>
            <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
            <td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
            <td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
            <td><span class="total money">{{ order.total_price | money }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>You haven't placed any orders yet.</p>
      {% endif %}
    </div>
    
    <div id="customer_sidebar" class="span12">
      <h2>{{ customer.name }} <span><a id="view_address" href="/account/addresses">View Addresses</a></span></h2>
      <p class="email note"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></p>
      <div class="address note">
        {% if customer.default_address != nil %}
        <br/>{{ customer.default_address.address1 }}
        {% if customer.default_address.address2 != "" %}
        <br/>{{ customer.default_address.address2 }}
        {% endif %}
        <br/>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}
        <br/>{{ customer.default_address.zip}}
        <p>{{ customer.default_address.phone }}</p>
        {% endif %}
      </div>
   </div> 
    
  </div> 
</div>
