		</div>
	</div>
</div>
<div id="page-content">
<div class="wrapper">
{% layout settings.customer_layout %}
<div id="customer-activate" class="row">
  <div class="span12">
    <h1>Activate Account</h1>
    <p class="note create-password">Create your password to activate your account</p>

    {% form 'activate_customer_password' %}
    {{ form.errors | default_errors }}

    <label class="label" for="password">Password</label>
    <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" />

    <label class="label" for="password_confirmation">Password Confirmation</label>
    <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="text" size="16" />

    <div class="action_bottom">
      <input class="btn" type="submit" value="Activate Account" />
      <span class="note">or</span>
      <a href="/">Decline Invitation</a>
    </div>
    {% endform %}
  </div> 
</div>