		</div>
	</div>
</div>
<div id="page-content">
<div class="wrapper">
{% layout settings.customer_layout %}

<div id="customer-reset-password">
  <div class="row">
    <div class="span12">
      <h1>Reset Password</h1>

      {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <label class="label" for="password">Password</label>
      <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" />
      
      <label class="label" for="password_confirmation">Password Confirmation</label>
      <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="text" size="16" />
      
      <div class="action_bottom">
        <input class="btn" type="submit" value="Reset Password" />
      </div>
      {% endform %}
    </div>
  </div> 
  
</div> 