<fieldset>
  <legend>General</legend>
  <table>
    <tr>
      <th><label for="wide_layout">Enable Wide layout?</label></th>
      <td><input type="checkbox" id="wide_layout" name="wide_layout" value="1" /></td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Colors</legend>
  <table>
    <tr>
      <td colspan="2">
        <h3>Background</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="bg_image">Use a background image?</label></th>
      <td>
        <select id="bg_image" name="bg_image">
        <option value="">No background image</option>
        <option value="custom">Use custom image (see upload button below)</option>
      </select>
      </td>
    </tr>
    <tr>
      <th><label for="custom_bg_image">Custom background image</label></th>
      <td>
        <input type="file" id="custom_bg_image" name="bg-custom.png" />
      </td>
    </tr>
    <tr>
       <th><label for="background_image_display">Background image display style?</label></th>
       <td>
         <input type="radio" name="background_image_display" value="tiled" /> Tiled
         <input type="radio" name="background_image_display" value="full" /> Not tiled
         <input type="radio" name="background_image_display" value="stretch" /> Stretch
       </td>
    </tr>
    <tr class="horizontal">
      <th><label for="shop_bg_color">Shop Background Color</label></th>
      <td><input id="shop_bg_color" name="shop_bg_color" class="color" value="#ffffff" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="shop_bg_color_content_area">Content Area Background Color</label></th>
      <td><input id="shop_bg_color_content_area" name="shop_bg_color_content_area" class="color" value="#ffffff" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="shop_bg_color_content_transparent">No Content Area Background Color</label></th>
      <td>
        <input type="checkbox" id="shop_bg_color_content_transparent" name="shop_bg_color_content_transparent" value="1" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Toolbar (Top Bar) Colors</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="toolbar_bg_color">Toolbar Background Color</label></th>
      <td><input id="toolbar_bg_color" name="toolbar_bg_color" class="color" value="#000000" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="no_toolbar_background">Remove Toolbar Background Color?</label></th>
      <td>
        <input type="checkbox" id="no_toolbar_background" name="no_toolbar_background" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="toolbar_text_color">Toolbar Text Color</label></th>
      <td><input id="toolbar_text_color" name="toolbar_text_color" class="color" value="#bbbbbb" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="toolbar_text_hover_color">Toolbar Text Hover Color</label></th>
      <td><input id="toolbar_text_hover_color" name="toolbar_text_hover_color" class="color" value="#ffffff" /></td>
    </tr>
    <tr>
      <th><label for="toolbar_border_style">Show Toolbar Bottom Border?</label></th>
      <td>
        <input type="radio" name="toolbar_border_style" value="none" /> None
        <input type="radio" name="toolbar_border_style" value="regular_width" /> Regular width
        <input type="radio" name="toolbar_border_style" value="full_width" /> Full width
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="toolbar_border_color">Toolbar Border Color</label></th>
      <td><input id="toolbar_border_color" name="toolbar_border_color" class="color" value="#dddddd" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="search_border">Show border around search?</label></th>
      <td>
        <input type="checkbox" id="search_border" name="search_border" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="search_border_color">Search Border Color</label></th>
      <td><input id="search_border_color" name="search_border_color" class="color" value="#dddddd" /></td>
    </tr>
    <tr>
      <th><label for="icon_cart">Dispay cart icon?</label></th>
      <td>
        <input type="radio" name="icon_cart" value="none" /> None
        <input type="radio" name="icon_cart" value="light" selected="selected" /> Light
         <input type="radio" name="icon_cart" value="dark" /> Dark
       </td>
     </tr>
     <tr class="horizontal">
       <th><label for="icon_cart_opacity">Cart icon opacity:</label></th>
       <td>
         <select name="icon_cart_opacity" id="icon_cart_opacity">
           <option value="9">90%</option>
           <option value="8" selected="selected">80%</option>
           <option value="7">70%</option>
           <option value="6">60%</option>
           <option value="5">50%</option>
           <option value="4">40%</option>
           <option value="3">30%</option>
           <option value="2">20%</option>
           <option value="1">10%</option>
         </select>
       </td>
     </tr>
    <tr>
      <td colspan="2">
        <h3>Navigation</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="nav_link_color">Nav Link Color</label></th>
      <td><input id="nav_link_color" name="nav_link_color" class="color" value="#888888" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="nav_link_hover_color">Nav Link Hover Color</label></th>
      <td><input id="nav_link_hover_color" name="nav_link_hover_color" class="color" value="#222222" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="selected_nav_link_color">Selected Nav Link Color</label></th>
      <td><input id="selected_nav_link_color" name="selected_nav_link_color" class="color" value="#222222" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="nav_dropdown_background_color">Nav Dropdown Background Color</label></th>
      <td><input id="nav_dropdown_background_color" name="nav_dropdown_background_color" class="color" value="#888888" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="nav_dropdown_link_color">Nav Dropdown Link Color</label></th>
      <td><input id="nav_dropdown_link_color" name="nav_dropdown_link_color" class="color" value="#888888" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="nav_dropdown_link_hover_color">Nav Dropdown Link Hover Color</label></th>
      <td><input id="nav_dropdown_link_hover_color" name="nav_dropdown_link_hover_color" class="color" value="#222222" /></td>
    </tr>
    <tr>
      <td colspan="2">
      <h3>Footer Colors</h3>
    </td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_bg_color">Footer Background Color</label></th>
      <td><input id="footer_bg_color" name="footer_bg_color" class="color" value="#000000" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="no_footer_background">Remove Footer Background Color?</label></th>
      <td>
        <input type="checkbox" id="no_footer_background" name="no_footer_background" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_text_color">Footer Text Color</label></th>
      <td><input id="footer_text_color" name="footer_text_color" class="color" value="#AAAAAA" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_heading_color">Footer Heading Color</label></th>
      <td><input id="footer_heading_color" name="footer_heading_color" class="color" value="#EEEEEE" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_link_color">Footer Link Color</label></th>
      <td><input id="footer_link_color" name="footer_link_color" class="color" value="#DDDDDD" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_link_hover_color">Footer Link Hover Color</label></th>
      <td><input id="footer_link_hover_color" name="footer_link_hover_color" class="color" value="#FFFFFF" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_show_underline">Show Footer Heading Underline?</label></th>
      <td>
        <input type="checkbox" id="footer_show_underline" name="footer_show_underline" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_heading_border_color">Footer Heading Underline Color</label></th>
      <td><input id="footer_heading_border_color" name="footer_heading_border_color" class="color" value="#DDDDDD" /></td>
    </tr>
    <tr>
      <th><label for="footer_border_style">Show Footer Border?</label></th>
      <td>
        <input type="radio" name="footer_border_style" value="none" /> None
        <input type="radio" name="footer_border_style" value="regular_width" /> Regular width
        <input type="radio" name="footer_border_style" value="full_width" /> Full width
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_border_color">Footer Border Color</label></th>
      <td><input id="footer_border_color" name="footer_border_color" class="color" value="#DDDDDD" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Newsletter</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="newsletter_btn_color">Newsletter button color</label></th>
      <td><input id="newsletter_btn_color" name="newsletter_btn_color" class="color" value="#f45b4f" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="newsletter_btn_hover_color">Newsletter button color on hover</label></th>
      <td><input id="newsletter_btn_hover_color" name="newsletter_btn_hover_color" class="color" value="#ee4d41" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="newsletter_btn_text_color">Newsletter button text color</label></th>
      <td><input id="newsletter_btn_text_color" name="newsletter_btn_text_color" class="color" value="#ffffff" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="newsleter_btn_hover_text_color">Newsletter button text color on hover</label></th>
      <td><input id="newsleter_btn_hover_text_color" name="newsletter_btn_hover_text_color" class="color" value="#ffffff" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Social Media Icons</h3>
      </td>
    </tr>
     <tr class="horizontal">
      <th><label for="social_icon_color">Social icon color</label></th>
      <td><input id="social_icon_color" name="social_icon_color" class="color" value="#888888" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="social_icon_hover_color">Social icon color on hover</label></th>
      <td><input id="social_icon_hover_color" name="social_icon_hover_color" class="color" value="#dddddd" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Content Area Colors</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="body_font_color">Font Color</label></th>
      <td>
        <input id="body_font_color" name="body_font_color" class="color" value="#555555" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="header_color">Heading Color</label></th>
      <td><input id="header_color" name="header_color" class="color" value="#333333" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="link_color">Link Color</label></th>
      <td><input id="link_color" name="link_color" class="color" value="#f45b4f" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="link_hover_color">Link Hover Color</label></th>
      <td><input id="link_hover_color" name="link_hover_color" class="color" value="#ee4d41" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="price_color">Price Color</label></th>
      <td><input id="price_color" name="price_color" class="color" value="#999999" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="product_photo_border_color">Photo border color</label></th>
      <td>
        <input id="product_photo_border_color" name="product_photo_border_color" class="color" value="#dddddd" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="sale_bg_color">Sale circle background color</label></th>
      <td>
        <input id="sale_bg_color" name="sale_bg_color" class="color" value="#000000" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="sale_text_color">Sale circle text color</label></th>
      <td>
        <input id="sale_text_color" name="sale_text_color" class="color" value="#ffffff" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Buttons</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="shop_btn_color">Button Background Color</label></th>
      <td><input id="shop_btn_color" name="shop_btn_color" class="color" value="#f45b4f" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="shop_btn_hover_color">Button Background Hover Color</label></th>
      <td><input id="shop_btn_hover_color" name="shop_btn_hover_color" class="color" value="#ee4d41" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="shop_btn_text_color">Button Text Color</label></th>
      <td><input id="shop_btn_text_color" name="shop_btn_text_color" class="color" value="#ffffff" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="shop_btn_hover_text_color">Button Text Hover Color</label></th>
      <td><input id="shop_btn_hover_text_color" name="shop_btn_hover_text_color" class="color" value="#ffffff" /></td>
    </tr>
    <tr>
      <th><label for="button_border_radius">Button Border Radius</label></th>
      <td>
        <select name="button_border_radius" id="button_border_radius">
          <option value="15px">15px</option>
          <option value="10px">10px</option>
          <option value="7px">7px</option>
          <option value="5px">5px</option>
          <option value="4px">4px</option>
          <option value="3px">3px</option>
          <option value="2px" selected="selected">2px</option>
          <option value="none">None</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Borders</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="border_style">General Border Styles</label></th>
      <td>
        <select name="border_style" id="border_style">
          <option value='solid' selected="selected">Solid</option>
          <option value='dashed'>Dashed</option>
          <option value='dotted'>Dotted</option>
        </select>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="border_color">General Border Colors</label></th>
      <td><input id="border_color" name="border_color" class="color" value="#dddddd" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Blog Tags</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="blog_tag_background_color">Tag background color</label></th>
      <td>
        <input id="blog_tag_background_color" name="blog_tag_background_color" class="color" value="#ECECEC" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="blog_tag_background_hover_color">Tag background hover color</label></th>
      <td>
        <input id="blog_tag_background_hover_color" name="blog_tag_background_hover_color" class="color" value="#CCCCCC" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="blog_tag_font_color">Tag font color</label></th>
      <td>
        <input id="blog_tag_font_color" name="blog_tag_font_color" class="color" value="#666666" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="blog_tag_font_hover_color">Tag font hover color</label></th>
      <td>
        <input id="blog_tag_font_hover_color" name="blog_tag_font_hover_color" class="color" value="#333333" />
      </td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Header</legend>
  <table>
    <tr>
      <td colspan="2">
        <h3>Logo</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="use_logo">Use a custom logo?</label></th>
      <td>
        <input type="checkbox" id="use_logo" name="use_logo" value="1" />
      </td>
    </tr>
      <tr>
      <th><label for="logo">Shop Logo</label></th>
      <td>
        <input type="file" id="logo" name="logo.png" data-max-width="966" data-max-height="600" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="logo_center">Center logo when main navigation is below?</label></th>
      <td>
        <input type="checkbox" id="logo_center" name="logo_center" value="1" />
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td colspan="2">
        <h3>Favicon</h3>
      </td>
    </tr>    
    <tr class="horizontal">
      <th><label for="use_favicon_image">Use a <a href="http://en.wikipedia.org/wiki/Favicon" target="_blank">favicon</a> image?</label></th>
      <td>
        <input type="checkbox" id="use_favicon_image" name="use_favicon_image" value="1" />
      </td>
    </tr>
    <tr>
      <th><label for="logo">Upload a favicon<br /><small>(must be 16px x 16px)</small></label></th>
      <td>
        <input type="file" id="logo" name="favicon.png" data-max-width="16" data-max-height="16" />
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td colspan="2">
        <h3>Navigation</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="navigation_center">Center navigation links?</label></th>
      <td><input type="checkbox" id="navigation_center" name="navigation_center" value="" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="force_wide_nav">Force wide navigation?<br/><small>This will force the navigation below the logo if there are too many links to fit on one line.</small></label></th>
      <td><input type="checkbox" id="force_wide_nav" name="force_wide_nav" value="" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="nav_right_padding">Right nav top padding (in pixels)</label></th>
      <td><input id="nav_right_padding" name="nav_right_padding" value="70" /></td>
    </tr>
    <tr>
      <th><label for="display_collection_dropdown">Display product tags in a dropdown under Collection links?</label></th>
      <td>
        <input type="checkbox" id="display_collection_dropdown" name="display_collection_dropdown" value="1" />
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td colspan="2">
        <h3>Toolbar Styles</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="toolbar_height">Toolbar height</label></th>
      <td>
        <select name="toolbar_height" id="toolbar_height">
          <option value="40px">40px</option>
          <option value="50px">50px</option>         
          <option value="60px" selected="selected">60px</option>
          <option value="70px">70px</option>
          <option value="80px">80px</option>
          <option value="100px">100px</option>
        </select>
      </td>
    </tr>
    </table>
</fieldset>
<fieldset>
  <legend>Footer</legend>
  <table>
    <tr>
      <td colspan="2">
        <h3>Footer Navigation</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_linklist_title">Title (copyright text):</label></th>
      <td><input type="text" id="footer_linklist_title" name="footer_linklist_title" value="Quick Links" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_linklist">Link list to display</label></th>
      <td><select name="footer_linklist" class="linklist" /></td>
    </tr>
    <tr>
      <th><label for="centered_navigation">Centered Navigation</br>(only if Social Links and Newsletter are desabled)</label></th>
      <td><input type="checkbox" id="centered_navigation" name="centered_navigation" value="1" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Newsletter</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_display_newsletter">Display newsletter?</label></th>
      <td><input type="checkbox" id="footer_display_newsletter" name="footer_display_newsletter" value="" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_newsletter_title">Newsletter title:</label></th>
      <td><input type="text" id="footer_newsletter_title" name="footer_newsletter_title" value="Newsletter" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="mailing_list_form_action">Mailchimp form action URL</label></th>
      <td><input type="text" id="mailing_list_form_action" name="mailing_list_form_action" value="" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Social Media Icons</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="enable_social_links">Display social links?</label></th>
      <td><input type="checkbox" id="enable_social_links" name="enable_social_links" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="twitter_link">Twitter Link</label></th>
      <td>
        <input type="text" id="twitter_link" name="twitter_link" value="" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="facebook_link">Facebook Link</label></th>
      <td>
        <input type="text" id="facebook_link" name="facebook_link" value="" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="pinterest_link">Pinterest Link</label></th>
      <td>
        <input type="text" id="pinterest_link" name="pinterest_link" value="" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="instagram_link">Linkedin Link</label></th>
      <td>
        <input type="text" id="instagram_link" name="instagram_link" value="" />
      </td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Homepage</legend>
  <table>
    <tr>
      <td colspan="2">
        <h3>Homepage Content</h3>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Main Text</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_linklist_title">Homepage Title</label></th>
      <td><input type="text" id="homepage_h1_title" name="homepage_h1_title" value="Homepage Title" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_linklist_title">Subtitle</label></th>
      <td><input type="text" id="homepage_h2_title" name="homepage_h2_title" value="Subtitle" /></td>
    </tr>
  </table>
  <br/>
  
  <table>
    <tr>
      <td colspan="3">
        <h3>Our Products Section (4 images)</h3>
        <small>For best results, upload images that are 406 pixels wide. Try to keep all 4 images the same size.</small><br/>
      </td>
    </tr>
    <tr>
      <th><label for="show_fp_images">Show Our Products Section (4 images) below the slideshow?</label></th>
      <td colspan="2">
        <input type="checkbox" id="show_fp_images" name="show_fp_images" />
      </td>
    </tr>
  </table>
  <br/>
  <table class="standard-table">
    <tr>
      <td></td>
      <td>Image file</td>
      <td>Links to</td>
      <td>Text</td>
    </tr>
    <tr>
      <td><label>Image 1</label></td>
      <td><input type="file" id="fp_image_1" name="fp_image_1.jpg" data-max-width="406" /></td>
      <td><input type="text" id="fp_image_1_link" name="fp_image_1_link" value="" /></td>
      <td><input type="text" id="fp_image_1_alt" name="fp_image_1_alt" value="" /></td>
    </tr>
    <tr>
      <td><label>Image 2</label></td>
      <td><input type="file" id="fp_image_2" name="fp_image_2.jpg" data-max-width="406" /></td>
      <td><input type="text" id="fp_image_2_link" name="fp_image_2_link" value="" /></td>
      <td><input type="text" id="fp_image_2_alt" name="fp_image_2_alt" value="" /></td>
    </tr>
    <tr>
      <td><label>Image 3</label></td>
      <td><input type="file" id="fp_image_3" name="fp_image_3.jpg" data-max-width="406" /></td>
      <td><input type="text" id="fp_image_3_link" name="fp_image_3_link" value="" /></td>
      <td><input type="text" id="fp_image_3_alt" name="fp_image_3_alt" value="" /></td>
    </tr>
    <tr>
      <td><label>Image 4</label></td>
      <td><input type="file" id="fp_image_4" name="fp_image_4.jpg" data-max-width="406" /></td>
      <td><input type="text" id="fp_image_4_link" name="fp_image_4_link" value="" /></td>
      <td><input type="text" id="fp_image_4_alt" name="fp_image_4_alt" value="" /></td>
    </tr>
  </table>

</fieldset>
<fieldset>
  <legend>Product Pages</legend>
  <table>
    <tr class="horizontal">
      <th><label for="enable_product_image_zoom">Enable image zoom feature?</label></th>
      <td><input type="checkbox" id="enable_product_image_zoom" name="enable_product_image_zoom" value="0" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="display_quantity_dropdown">Display Quantity Box?</label></th>
      <td>
        <input type="checkbox" id="display_quantity_dropdown" name="display_quantity_dropdown" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="show_social">Display social/share buttons?</label></th>
      <td>
        <input type="checkbox" id="show_social" name="show_social" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="show_related_products">Display related products?</label></th>
      <td><input type="checkbox" id="show_related_products" name="show_related_products" value="1" /></td>
    </tr>
    <tr class="horizontal">
          <th><label for="thumbnails_position">Position of product thumbnails</label></th>
          <td>
            <select id="thumbnails_position" name="thumbnails_position">
              <option value="right">On the right of main image</option>
              <option value="below">Below main image</option>
            </select>
          </td>
        </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Collection Pages</legend>
  <table>
    <tr class="horizontal">
      <th><label for="collection_tags">Display browse by product tags?</label></th>
      <td>
        <input type="checkbox" id="collection_tags" name="collection_tags" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="collection_sort">Display sort by?</label></th>
      <td>
        <input type="checkbox" id="collection_sort" name="collection_sort" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="pagination_limit">Number of products to display</label></th>
      <td>
        <select name="pagination_limit" id="pagination_limit">
          <option value="48">48</option>
          <option value="36">36</option>
          <option value="24" selected="selected">24</option>
          <option value="12">12</option>
          <option value="9">9</option>
          <option value="8">8</option>
          <option value="6">6</option>
          <option value="4">4</option>
          <option value="3">3</option>
        </select>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="show_photo_border">Show border around photos?</label></th>
      <td>
        <input type="checkbox" id="show_photo_border" name="show_photo_border" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="product_opacity_hover">Opacity of product on hover?</label></th>
      <td>
        <select name="product_opacity_hover" id="product_opacity_hover">
          <option value="1.0">100%</option>
          <option value="0.9">90%</option>
          <option value="0.8">80%</option>
          <option value="0.7" selected="selected">70%</option>
          <option value="0.6">60%</option>
          <option value="0.5">50%</option>
        </select>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="show_sale_circle">Show sale circle on products?</label></th>
      <td>
        <input type="checkbox" id="show_sale_circle" name="show_sale_circle" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="product_vendor">Display Product Vendor?</label></th>
      <td>
        <input type="checkbox" id="product_vendor" name="product_vendor" value="1" />
      </td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Blog Pages</legend>
  <table>
    <tr class="horizontal">
      <th><label for="display_blog_tags">Display blog tags?</label></th>
      <td>
        <input type="checkbox" id="display_blog_tags" name="display_blog_tags" value="1" />
      </td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Cart</legend>
  <table>
    <tr class="horizontal">
      <th><label for="display_cart_note">Display additional cart note?</label></th>
      <td>
        <input type="checkbox" id="display_cart_note" name="display_cart_note" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="featured_products">Choose featured collection for cart and search pages</label></th>
      <td><select name="featured_products" id="featured_products" class="collection" /></td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Contact Us Page</legend>
  <table>
    <tr class="horizontal">
      <th><label for="enable_contacts_blockquote">Display quote on the page?</label></th>
      <td>
        <input type="checkbox" id="enable_contacts_blockquote" name="enable_contacts_blockquote" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="contacts_blockquote_body">Quote body</label></th>
      <td>
        <input type="text" id="contacts_blockquote_body" name="contacts_blockquote_body" value="" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="contacts_blockquote_body">Quote by Name</label></th>
      <td>
        <input type="text" id="contacts_blockquote_name" name="contacts_blockquote_name" value="" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="contacts_blockquote_body">Company</label></th>
      <td>
        <input type="text" id="contacts_blockquote_rest" name="contacts_blockquote_rest" value="" />
      </td>
    </tr>


  </table>
</fieldset>