			<div class="span12">
				<div id="homepage-text">
					<h1>{{ settings.homepage_h1_title }}</h1>
					<h2>{{ settings.homepage_h2_title }}</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="homepage-content">
<div class="wrapper">
{% if settings.show_fp_images %}
<!-- Begin promo images -->
<div class="row" id="fp-images" style="margin-bottom:25px">
<div class="span12">
	<h3>View Our Products</h3>
</div>
  {% for i in (1..4) %}
  {% capture fp_image %}fp_image_{{ i }}.jpg{% endcapture %}
  {% capture fp_link %}fp_image_{{ i }}_link{% endcapture %}
  {% capture fp_alt %}fp_image_{{ i }}_alt{% endcapture %}
  <div class="span3">
    <a href="{{ settings[fp_link] }}">
      <img src="{{ fp_image | asset_url }}" alt="{{ settings[fp_alt] | escape }}" />
      <h4>{{ settings[fp_alt] | escape }}</h4>
    </a>
  </div>
  {% endfor %}
</div>
<!-- End promo images -->
{% endif %}

{% if settings.homepage != blank %}
<!-- Begin intro -->
<div class="span12 p20">
  <div class="intro clearfix">
    <h2>{{ pages[settings.homepage].title }}</h2>
    <div>{{ pages[settings.homepage].content }}</div>
  </div>
</div>
<!-- End intro -->
{% endif %}
      
<div class="products">
  {% for product in collections[settings.frontpage_collection].products %}
  {% include 'product-loop' with settings.frontpage_collection %}
  {% endfor %}
</div>

{% if settings.show_collections and settings.frontpage_collections != '' and settings.frontpage_collections != 'main-menu' and linklists[settings.frontpage_collections].links.size > 0 %}
<div class="products">
  {% for link in linklists[settings.frontpage_collections].links %}
  {% if link.type == 'collection_link' %}
    {% assign collection = link.object %}
    {% include 'collection-loop' %}
  {% endif %}
  {% endfor %}
</div>
{% endif %}