		</div>
	</div>
</div>
<div id="page-content">
<div class="wrapper">
<div id="page" class="row">
  
  <div class="span12">
    <h1 class="p25">{{ page.title }}</h1>
    <div class="page-with-contact-form">
      {{ page.content }}
    </div>
    {% form 'contact' %}
        {% if form.posted_successfully? %}
        <div class="successForm feedback">
          <h4>Thanks for contacting us! We'll get back to you as soon as possible.</h4>
        </div>
        {% endif %}

        {% if form.errors %}
        <div class="errorForm feedback">
          <p class="strong"><strong>Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. <br/>Please correct the following and submit again:</strong></p>
          {% for field in form.errors %}
            <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
          {% endfor %}
        </div>
        {% endif %}
  </div>
    <div class="span6">
        <div id="contactFormWrapper">
          <p>
            <label>Name</label>
            <input type="text" id="contactFormName" name="contact[name]" />
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" id="contactFormEmail" name="contact[email]" />
          </p>
          <p>
            <label>Phone Number</label>
            <input type="telephone" id="contactFormTelephone" name="contact[phone]" />
          </p> 
          <p>
            <label>How Can We Help You?</label>
            <textarea rows="15" cols="75" id="contactFormMessage" name="contact[body]"></textarea>
          </p>
          <p>
            <input type="submit" id="contactFormSubmit" value="Submit" class="btn" />
          </p>
        </div>
        {% endform %}
    </div>
    
    <block class="span6">
  
  {% if settings.enable_contacts_blockquote %}
    {% include 'contacts-blockquote' %}
  {% endif %}
  
    </div>
  
  
</div>


