		</div>
	</div>
</div>
<div id="page-content">
<div class="wrapper">
<div id="page" class="row">
  
  <div class="span12 details">
    <h1 class="p25">{{ page.title }}</h1>
    {{ page.content }}
  </div>
  
</div>