		</div>
	</div>
</div>
<div id="page-product">
<div class="wrapper">
<div id="product" class="{{ product.handle }}" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}" />
 
  <div class="row clearfix">
	
    <!-- Begin product photos -->
    <div class="{% if product.images.size == 1 or settings.thumbnails_position == 'below' %}span6{% else %}span5{% endif %}">
      
      <!-- Begin featured image -->
      <div class="image featured">
        {% if settings.enable_product_image_zoom %}
        <a href="{{ product.featured_image | product_img_url: 'master' }}" class="cloud-zoom" rel="position: 'inside', showTitle: 'false'" id="placeholder">
          <img src="{{ product.featured_image | product_img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}" />
        </a>
        {% else %}
        <a href="{{ product.featured_image | product_img_url: 'master' }}" class="zoom" id="placeholder">
          <img src="{{ product.featured_image | product_img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}" />
        </a>
        {% endif %}
      </div>
      <!-- End product image -->
      
      {% if product.images.size > 1 and settings.thumbnails_position == 'below' %}
      <!-- Begin thumbnails -->
      <div class="thumbs clearfix" style="margin-left:-15px;">
        {% for image in product.images %}
        {% if settings.enable_product_image_zoom %}
        <div class="image span2{% cycle 'last-in-row': '', '', ' last-in-row' %}">
          <a href="{{ image | product_img_url: 'master' }}" class="cloud-zoom-gallery" rel="useZoom: 'placeholder', smallImage: '{{ image | product_img_url: 'master' }}', tint: '#ffffff'" data-image-id="{{ image.id }}">
            <img src="{{ image | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}" />
          </a>
        </div>
        {% else %}
        <div class="image span2{% cycle 'last-in-row': '', '', ' last-in-row' %}">
          <a href="{{ image | product_img_url: 'master' }}" data-original-image="{{ image | product_img_url: 'master' }}" data-image-id="{{ image.id }}">
            <img src="{{ image | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}" />
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <!-- End thumbnails -->
      <style>
      .thumbs .image { margin: 15px 0 }
      .thumbs .image { padding: 0 15px }
      .thumbs .last-in-row { padding-right: 0 }
      </style>
      {% endif %}
      
    </div>
    <!-- End product photos -->
    
    {% if product.images.size > 1 and settings.thumbnails_position == 'right' %}
    <!-- Begin thumbnails -->
    <div class="span1">
      <div class="thumbs clearfix">
        {% for image in product.images %}
        {% if settings.enable_product_image_zoom %}
        <div class="image">
          <a href="{{ image | product_img_url: 'master' }}" class="cloud-zoom-gallery" rel="useZoom: 'placeholder', smallImage: '{{ image | product_img_url: 'master' }}', tint: '#ffffff'" data-image-id="{{ image.id }}">
            <img src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" />
          </a>
        </div>
        {% else %}
        <div class="image">
          <a href="{{ image | product_img_url: 'master' }}" data-original-image="{{ image | product_img_url: 'master' }}" data-image-id="{{ image.id }}">
            <img src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" />
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- End thumbnails -->
    {% endif %}
    
    
    <!-- Begin description -->
    <div class="span6">
      
      <h1 class="title" itemprop="name">{{ product.title }}</h1>
      <h3 class="type">{{ product.type }}</h3>
      
      <div class="description">
        {{ product.description }}
      </div>
      
      <div class="purchase" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
      </div>
      
      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}
            
      <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
	        {% if product.variants.size == 1 %}
				{% for variant in product.variants %}
				<h3 class="variant">/<!-- {{ product.options[0] }} — name of the Custom Option -->{{ variant.title }}</h3>
				{% endfor %}
				<div style="display:none"> <!-- hidden select with id to prevent cart error-->
					<select id="product-select" name="id" style="display:none">
					{% for variant in product.variants %}
						<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
					{% endfor %}
			        </select>
		        </div>
	        {% else %}
        <select id="product-select" name="id" style="display:none">
          
          {% for variant in product.variants %}
          <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}
        </select>
        
        {% endif %}
        
        <h2 class="price" id="price-preview"><span itemprop="price">{{ product.price | money }}</span></h2>
        
        <div class="clearfix">&nbsp;</div>
        
        <h3 class="compare">
          {% if product.price < product.compare_at_price %} <del>{{ product.compare_at_price | money }}</del>{% endif %}
        </h3>
        
        <!-- Begin product options -->
        <div class="product-options">
          
          {% if settings.display_quantity_dropdown and product.available %}
          <div class="selector-wrapper">
            <input id="quantity" type="number" name="quantity" value="1"  min="1" class="tc item-quantity" />
          </div>
          {% endif %}
          
          <div class="purchase-section{% if product.variants.size > 1 %} multiple{% endif %}">
            <div class="purchase">
            {% if product.available %}
	        <label>In Stock</label>
			<input type="submit" id="add-to-cart" class="btn" name="add" value="Add to cart" />
	        {% else %}
	        <label>Out of stock</label>
              {% endif %}
            </div>
          </div>
          
        </div>
        <!-- End product options -->
        
      </form>
      
      {% if settings.show_social %}
      <!-- Begin social buttons -->
      <div class="social">
        {% include 'like' %}
      </div>
      <!-- End social buttons -->
      {% endif %}
    
    </div>
    <!-- End description -->
   
  </div>
  
  <!-- Begin related product -->
  {% if settings.show_related_products %}
    {% include 'related-products' %}
  {% endif %}
  
</div>

<div style="display:none" id="preloading">
{% for image in product.images offset: 1 %}
{{ image | product_img_url: '1024x1024' | img_tag }}
{% endfor %}
</div>