/*-----------------------------------------------------------------------------------

	Site Title: NEOLS
  Site URI: 
	Stylesheet: Checkout (for others, see overrides.less)
	Last Backed Up: 6-11-14

	Authored By: Keith @ Dialogue Theory
  Author URI: http://www.dialoguetheory.com
	Based on: Launchpad Shopify Theme

-----------------------------------------------------------------------------------


	=TABLE OF CONTENTS

	X. =STICKY FOOTER, CLEARFIX
	X. =FONTS
	0. =MIXINS & VARIABLES
	1. =GENERAL
	2. =HEADER
	3. =CONTENT
	4. =FOOTER
	5. =MEDIA QUERIES

	=NOTES

	- QUICK NAVIGATION: do a Find for equals sign followed by section title, e.g. =SECTION TITLE
	- Dialogue Theory loves you.


-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	X. 	=STICKY FOOTER, CLEARFIX
/*-----------------------------------------------------------------------------------*/
/* Retina.js Mixin - SCSS
@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
 
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
    }
  }
}
*/
/* EXAMPLE - WIDTH & HEIGHT ARE OPTIONAL */
/*
#foo {
  @include background-image-retina('foobar', 'png', 10px, 20px);
  background: repeat;
}
*/
/* Retina.js Mixin - LESS */
/*
@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";

.at2x(@path, @w: auto, @h: auto) {
  background-image: url(@path);
  @at2x_path: ~`@{path}.replace(/\.\w+$/, function(match) { return "@2x" + match; })`;

  @media @highdpi {
    background-image: url("@{at2x_path}");
    background-size: @w @h;
  }
}
*/
/* EXAMPLE - WIDTH & HEIGHT ARE OPTIONAL */
/*
#logo {
  .at2x('/images/my_image.png', 200px, 100px);
}
*/
/*-----------------------------------------------------------------------------------*/
/*	X.	=FONTS
/*-----------------------------------------------------------------------------------*/
/* Font Face */
@font-face {
  font-family: 'League';
  src: url('font.eot');
  src: url('font?#iefix') format('embedded-opentype'), url('font.woff') format('woff'), url('font.ttf') format('truetype'), url('font.svg#font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Font Stacks */
.Helv {
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
.Arial {
  font-family: Arial, sans-serif;
}
.League {
  font-family: 'League', Arial, sans-serif;
  font-weight: normal;
}
/*-----------------------------------------------------------------------------------*/
/*	1.	=GENERAL
/*-----------------------------------------------------------------------------------*/
/* Colors */
html {
  background: #ffffff;
  height: 100%;
}
body {
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  color: #333333;
  font-size: 13px;
  letter-spacing: .01em;
  min-height: 100%;
}
body,
html {
  background-size: contain;
}
#content {
  max-width: 100%;
}
a {
  -webkit-transition: all 0.20s linear;
  -moz-transition: all 0.20s linear;
  -ms-transition: all 0.20s linear;
  -o-transition: all 0.20s linear;
  transition: all 0.20s linear;
  color: #494140;
}
a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  max-width: 100%;
}
menu,
ul,
ol {
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: 'League', Arial, sans-serif;
  font-weight: normal;
}
h5 {
  font-family: 'AvenirBlack', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  font-size: 14px;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child,
.h5:first-child,
.h6:first-child {
  margin-top: 0;
}
input.form-focus {
  font-style: normal;
  color: #333333;
}
input,
textarea {
  font-family: 'AvenirBook', Arial, sans-serif;
  font-weight: normal;
  max-width: 100%;
}
::selection {
  background: #494140;
  color: #ffffff;
}
::-moz-selection {
  background: #494140;
  color: #ffffff;
}
/*-----------------------------------------------------------------------------------*/
/*	X.	=FORM STUFF FROM MAIN STYLES
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	X.	=CUSTOM
/*-----------------------------------------------------------------------------------*/
nav {
  margin-top: 0;
}
/*-----------------------------------------------------------------------------------*/
/*  3.  =CONTENT
/*-----------------------------------------------------------------------------------*/
.logo-neols img {
  display: block;
  margin: 0 auto;
  margin-bottom: 80px;
}
nav.main ul li a {
  text-transform: uppercase;
}
#homepage-text {
  border: 4px solid white;
  text-align: center;
  color: #fff;
  padding: 35px;
  min-height: 196px;
}
#homepage-content {
  background: #fff;
}
#homepage #background {
  background: #160201 url('https://newenglandoillamp-2.myshopify.com/admin/themes/9136199/settings/asset/bg-custom.png') top center no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 705px;
}
#fp-images {
  margin-top: 50px;
}
#fp-images hr {
  border: 2px solid #121110;
}
#fp-images h3 {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  background: #fff;
  width: 200px;
  margin-top: -25px;
  margin-bottom: 50px;
}
#fp-images h4 {
  text-transform: uppercase;
  margin-top: 15px;
}
#fp-images .span3 {
  text-align: center;
}
#fp-images .span3 img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  border: 4px solid #a69789;
}
/*-----------------------------------------------------------------------------------*/
/*	5.	=MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 776px) {
  
}
@media screen and (max-width: 1400px) {
  
}
@media screen and (max-width: 1300px) {
  
}
@media screen and (max-width: 1260px) {
  
}
@media screen and (max-width: 1150px) {
  
}
@media screen and (max-width: 1100px) {
  
}
/* SITE WIDTH */
@media screen and (max-width: 991px) {
  
}
/* 4.3 - Tablet Landscape */
@media only screen and (min-width: 600px) and (max-width: 797px) {
  section.span5.nav {
    display: none;
  }
  .span2.logo-neols {
    width: 600px;
  }
}
/* 4.4 - Mobile Landscape */
@media only screen and (min-width: 510px) and (max-width: 629px) {
  section.span5.nav {
    display: none;
  }
  .span2.logo-neols {
    width: 480px;
  }
}
/* 4.5 - Mobile Portrait */
@media only screen and (max-width: 509px) {
  section.span5.nav {
    display: none;
  }
  .span2.logo-neols {
    width: 400px;
  }
}
@media screen and (max-width: 509px) {
  section.span5.nav {
    display: none;
  }
  .span2.logo-neols {
    width: 300px;
  }
}
/* SMALL PHONES ONLY */
@media screen and (max-width: 479px) {
  section.span5.nav {
    display: none;
  }
  .span2.logo-neols {
    width: 280px;
  }
}
