/*-----------------------------------------------------------------------------------

	Site Title: NEOLS
  Site URI: 
	Stylesheet: Checkout (for others, see overrides.less)
	Last Backed Up: 6-11-14

	Authored By: Keith @ Dialogue Theory
  Author URI: http://www.dialoguetheory.com
	Based on: Launchpad Shopify Theme

-----------------------------------------------------------------------------------


	=TABLE OF CONTENTS

	X. =STICKY FOOTER, CLEARFIX
	X. =FONTS
	0. =MIXINS & VARIABLES
	1. =GENERAL
	2. =HEADER
	3. =CONTENT
	4. =FOOTER
	5. =MEDIA QUERIES

	=NOTES

	- QUICK NAVIGATION: do a Find for equals sign followed by section title, e.g. =SECTION TITLE
	- Dialogue Theory loves you.


-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	X. 	=STICKY FOOTER, CLEARFIX
/*-----------------------------------------------------------------------------------*/
/* Retina.js Mixin - SCSS
@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
 
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
    }
  }
}
*/
/* EXAMPLE - WIDTH & HEIGHT ARE OPTIONAL */
/*
#foo {
  @include background-image-retina('foobar', 'png', 10px, 20px);
  background: repeat;
}
*/
/* Retina.js Mixin - LESS */
/*
@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";

.at2x(@path, @w: auto, @h: auto) {
  background-image: url(@path);
  @at2x_path: ~`@{path}.replace(/\.\w+$/, function(match) { return "@2x" + match; })`;

  @media @highdpi {
    background-image: url("@{at2x_path}");
    background-size: @w @h;
  }
}
*/
/* EXAMPLE - WIDTH & HEIGHT ARE OPTIONAL */
/*
#logo {
  .at2x('/images/my_image.png', 200px, 100px);
}
*/
/*-----------------------------------------------------------------------------------*/
/*	X.	=FONTS
/*-----------------------------------------------------------------------------------*/
/* Font Face */
@font-face {
  font-family: 'AvenirBook';
  src: url('Avenir-Book.eot');
  src: url('Avenir-Book.eot?#iefix') format('embedded-opentype'), url('Avenir-Book.woff') format('woff'), url('Avenir-Book.ttf') format('truetype'), url('Avenir-Book.svg#AvenirBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirLight';
  src: url('Avenir-Light.eot');
  src: url('Avenir-Light.eot?#iefix') format('embedded-opentype'), url('Avenir-Light.woff') format('woff'), url('Avenir-Light.ttf') format('truetype'), url('Avenir-Light.svg#AvenirLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirRoman';
  src: url('Avenir-Roman.eot');
  src: url('Avenir-Roman.eot?#iefix') format('embedded-opentype'), url('Avenir-Roman.woff') format('woff'), url('Avenir-Roman.ttf') format('truetype'), url('Avenir-Roman.svg#AvenirRoman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirMedium';
  src: url('Avenir-Medium.eot');
  src: url('Avenir-Medium.eot?#iefix') format('embedded-opentype'), url('Avenir-Medium.woff') format('woff'), url('Avenir-Medium.ttf') format('truetype'), url('Avenir-Medium.svg#AvenirMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirHeavy';
  src: url('Avenir-Heavy.eot');
  src: url('Avenir-Heavy.eot?#iefix') format('embedded-opentype'), url('Avenir-Heavy.woff') format('woff'), url('Avenir-Heavy.ttf') format('truetype'), url('Avenir-Heavy.svg#AvenirHeavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirBlack';
  src: url('Avenir-Black.eot');
  src: url('Avenir-Black.eot?#iefix') format('embedded-opentype'), url('Avenir-Black.woff') format('woff'), url('Avenir-Black.ttf') format('truetype'), url('Avenir-Black.svg#AvenirBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirBookItal';
  src: url('Avenir-BookOblique.eot');
  src: url('Avenir-BookOblique.eot?#iefix') format('embedded-opentype'), url('Avenir-BookOblique.woff') format('woff'), url('Avenir-BookOblique.ttf') format('truetype'), url('Avenir-BookOblique.svg#AvenirBookOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirLightItal';
  src: url('Avenir-LightOblique.eot');
  src: url('Avenir-LightOblique.eot?#iefix') format('embedded-opentype'), url('Avenir-LightOblique.woff') format('woff'), url('Avenir-LightOblique.ttf') format('truetype'), url('Avenir-LightOblique.svg#AvenirLightOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirItal';
  src: url('Avenir-Oblique.eot');
  src: url('Avenir-Oblique.eot?#iefix') format('embedded-opentype'), url('Avenir-Oblique.woff') format('woff'), url('Avenir-Oblique.ttf') format('truetype'), url('Avenir-Oblique.svg#AvenirOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirMediumItal';
  src: url('Avenir-MediumOblique.eot');
  src: url('Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'), url('Avenir-MediumOblique.woff') format('woff'), url('Avenir-MediumOblique.ttf') format('truetype'), url('Avenir-MediumOblique.svg#AvenirMediumOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirHeavyItal';
  src: url('Avenir-HeavyOblique.eot');
  src: url('Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'), url('Avenir-HeavyOblique.woff') format('woff'), url('Avenir-HeavyOblique.ttf') format('truetype'), url('Avenir-HeavyOblique.svg#AvenirHeavyOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirBlackItal';
  src: url('Avenir-BlackOblique.eot');
  src: url('Avenir-BlackOblique.eot?#iefix') format('embedded-opentype'), url('Avenir-BlackOblique.woff') format('woff'), url('Avenir-BlackOblique.ttf') format('truetype'), url('Avenir-BlackOblique.svg#AvenirBlackOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GearedLight';
  src: url('gearedslab-light-webfont.eot');
  src: url('gearedslab-light-webfont.eot?#iefix') format('embedded-opentype'), url('gearedslab-light-webfont.woff') format('woff'), url('gearedslab-light-webfont.ttf') format('truetype'), url('gearedslab-light-webfont.svg#GearedLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Geared';
  src: url('gearedslab-webfont.eot');
  src: url('gearedslab-webfont.eot?#iefix') format('embedded-opentype'), url('gearedslab-webfont.woff') format('woff'), url('gearedslab-webfont.ttf') format('truetype'), url('gearedslab-webfont.svg#Geared') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GearedBold';
  src: url('gearedslab-bold-webfont.eot');
  src: url('gearedslab-bold-webfont.eot?#iefix') format('embedded-opentype'), url('gearedslab-bold-webfont.woff') format('woff'), url('gearedslab-bold-webfont.ttf') format('truetype'), url('gearedslab-bold-webfont.svg#GearedBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GearedXBold';
  src: url('gearedslab-extrabold-webfont.eot');
  src: url('gearedslab-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('gearedslab-extrabold-webfont.woff') format('woff'), url('gearedslab-extrabold-webfont.ttf') format('truetype'), url('gearedslab-extrabold-webfont.svg#GearedXBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Font Stacks */
.Helv {
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
.Arial {
  font-family: Arial, sans-serif;
}
.AvLight {
  font-family: 'AvenirLight', Arial, sans-serif;
  font-weight: normal;
}
.AvBook {
  font-family: 'AvenirBook', Arial, sans-serif;
  font-weight: normal;
}
.AvMedium {
  font-family: 'AvenirMedium', Arial, sans-serif;
  font-weight: normal;
}
.AvRoman {
  font-family: 'AvenirRoman', Arial, sans-serif;
  font-weight: normal;
}
.AvHeavy {
  font-family: 'AvenirHeavy', Arial, sans-serif;
  font-weight: normal;
}
.AvBlack {
  font-family: 'AvenirBlack', Arial, sans-serif;
  font-weight: normal;
}
.AvLightItal {
  font-family: 'AvenirLightItal', Arial, sans-serif;
  font-weight: normal;
}
.AvBookItal {
  font-family: 'AvenirBookItal', Arial, sans-serif;
  font-weight: normal;
}
.AvMediumItal {
  font-family: 'AvenirMediumItal', Arial, sans-serif;
  font-weight: normal;
}
.AvRomanItal {
  font-family: 'AvenirRomanItal', Arial, sans-serif;
  font-weight: normal;
}
.AvHeavyItal {
  font-family: 'AvenirHeavyItal', Arial, sans-serif;
  font-weight: normal;
}
.AvBlackItal {
  font-family: 'AvenirBlackItal', Arial, sans-serif;
  font-weight: normal;
}
.GearedLight {
  font-family: 'GearedLight', Arial, sans-serif;
  font-weight: normal;
}
.Geared {
  font-family: 'Geared', Arial, sans-serif;
  font-weight: normal;
}
.GearedBold {
  font-family: 'GearedBold', Arial, sans-serif;
  font-weight: normal;
}
.GearedXBold {
  font-family: 'GearedXBold', Arial, sans-serif;
  font-weight: normal;
}
.SmallThick {
  font-family: 'AvenirBlack', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  font-size: 14px;
}
.BodyText {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  color: #f1f1f1;
  font-size: 16px;
}
/*-----------------------------------------------------------------------------------*/
/*	0.	=MIXINS & VARIABLES
/*-----------------------------------------------------------------------------------*/
/* Mixins */
.Trans {
  -webkit-transition: all 0.20s linear;
  -moz-transition: all 0.20s linear;
  -ms-transition: all 0.20s linear;
  -o-transition: all 0.20s linear;
  transition: all 0.20s linear;
}
.NoTrans {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
}
.QueryTrans {
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
.SlowTrans {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.TransDelay {
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}
.Opac {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
}
.Opaque {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.Transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.BShadow {
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
}
.Inset {
  -webkit-box-shadow: inset 1px 1px 3px #aaa;
  -moz-box-shadow: inset 1px 1px 3px #aaa;
  box-shadow: inset 1px 1px 3px #aaa;
}
.NoBShadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.TShadow {
  text-shadow: 1px 1px 1px #666;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.TShadow2 {
  text-shadow: 1px 1px 1px #999;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.NoTShadow {
  text-shadow: none;
}
.BgCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.BgContain {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.BgStretch {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.BgFullWidth {
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.BgFullHeight {
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.Rotate {
  -webkit-transform: rotate(47deg);
  -ms-transform: rotate(47deg);
  transform: rotate(47deg);
}
.Radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.NoRadius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.IBlock {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.IBlockImportant {
  display: -moz-inline-stack !important;
  display: inline-block !important;
  zoom: 1 !important;
  *display: inline !important;
  vertical-align: top;
}
.ThinType {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.ThickType {
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}
.TightSpacing {
  letter-spacing: -0.03em;
}
.WideSpacing {
  letter-spacing: 0.03em;
}
.LoadingCursor {
  cursor: progress;
}
.Cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff url('../images/loading.gif') no-repeat center 150px;
  z-index: 1000;
}
.Filler {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: url('../images/loading.gif') no-repeat center 150px; */

  z-index: 2;
}
.Hyphenate {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
/* Variables */
.TransBlack {
  background-color: rgba(0, 0, 0, 0.55);
}
.TransBlackImportant {
  background-color: rgba(0, 0, 0, 0.55) !important;
}
.TransBlackDark {
  background-color: rgba(0, 0, 0, 0.76);
}
/*-----------------------------------------------------------------------------------*/
/*	1.	=GENERAL
/*-----------------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: #ffffff;
  /* 
	background: @bgcolor url('../images/bg-body.jpg') no-repeat center top fixed; 
	.BgCover;
	*/

  height: 100%;
}
body {
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  font-family: 'AvenirMedium', Arial, sans-serif;
  font-weight: normal;
  background: #ffffff;
  color: #333333;
  font-size: 13px;
  letter-spacing: .01em;
  min-height: 100%;
}
.top-wrapper {
  background-color: #333333;
  background-image: url('bg-content.jpg');
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.lt-ie9 body {
  min-width: 991px;
}
#content {
  max-width: 100%;
}
a {
  -webkit-transition: all 0.20s linear;
  -moz-transition: all 0.20s linear;
  -ms-transition: all 0.20s linear;
  -o-transition: all 0.20s linear;
  transition: all 0.20s linear;
  color: #494140;
}
a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  max-width: 100%;
}
menu,
ul,
ol {
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #333333;
  font-family: 'GearedBold', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
h5 {
  font-family: 'AvenirBlack', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  font-size: 14px;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child,
.h5:first-child,
.h6:first-child {
  margin-top: 0;
}
input.form-focus {
  font-style: normal;
  color: #333333;
}
input,
textarea {
  font-family: 'AvenirBook', Arial, sans-serif;
  font-weight: normal;
  max-width: 100%;
}
::selection {
  background: #494140;
  color: #ffffff;
}
::-moz-selection {
  background: #494140;
  color: #ffffff;
}
nav {
  font-family: 'AvenirBlack', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  font-size: 14px;
}
nav > ul > li > a {
  font-family: 'AvenirBlack', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  font-size: 14px;
}
table tr td {
  border-top: 0;
}
/*-----------------------------------------------------------------------------------*/
/*	X.	=FORM STUFF FROM MAIN STYLES
/*-----------------------------------------------------------------------------------*/
input[type=text],
input[type=password],
input[type=email],
textarea {
  font-family: 'AvenirBook', Arial, sans-serif;
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #a0a0a0;
  background: #f1f1f1;
  color: #333333;
  font-size: 13px;
  max-width: 100%;
  padding: 8px 13px 7px;
}
.checkout-buttons label {
  display: none;
}
.checkout-buttons {
  text-align: right;
}
/*-----------------------------------------------------------------------------------*/
/*	X.	=CUSTOM
/*-----------------------------------------------------------------------------------*/
#header {
  background: #494140;
}
#header h1 {
  font-family: 'Geared', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  line-height: .9;
  margin: 13px auto 16px;
  padding-left: 167px;
  background: url('Lone-Mountain-Wagyu-Logo.png') no-repeat 20px 0;
  min-height: 165px;
}
h1 .title {
  display: none;
}
h1 span.subtitle {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  line-height: .9;
  display: block;
  padding-top: 30px;
  padding-left: 14px;
}
/* INVERT */
#header {
  background: #ffffff;
}
#header h1 {
  background-image: url('Lone-Mountain-Wagyu-Logo-Invert.png');
  background-position: center bottom;
  padding-left: 0;
}
h1 span.subtitle {
  display: none;
}
#thumbs td {
  line-height: 1.3;
}
#thumbs h3 {
  font-size: 25px;
  line-height: 1;
  padding-top: 10px;
  padding-bottom: 6px;
}
#thumbs div {
  border: 0;
}
#products {
  border-right: 0;
}
#overview {
  border-bottom: 0;
}
#email label {
  color: #333333;
  font-family: 'GearedBold', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 25px;
}
.group h3,
.pgroup h3 {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  border-bottom: 0;
  font-weight: normal;
  font-size: 25px;
}
#steps,
.group h3,
.pgroup h3,
#email label,
#overview h2 {
  font-family: 'AvenirBlack', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  text-transform: uppercase;
}
#steps {
  font-style: normal;
  margin-top: 14px;
  display: block;
}
#main,
#email,
#overview,
#buttons,
#addresses,
#footer,
.group {
  background: transparent;
  border: 0;
}
#buttons {
  border-bottom: 0;
}
#credit-card-info label,
#addresses label {
  font-family: 'AvenirBlack', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  position: relative;
  text-transform: uppercase;
}
#addresses label {
  top: 8px;
}
#addresses label[for="shipping-toggle"] {
  top: 0;
}
#addresses label[for="billing_address_zip"] {
  top: 3px;
}
#addresses label[for="shipping_address_country"],
#addresses label[for="shipping_address_province"],
#addresses label[for="billing_address_country"],
#addresses label[for="billing_address_province"] {
  top: 2px;
}
.form ul.inline li#billing_address_province_li {
  margin-top: 5px;
}
.field-with-errors .error-message {
  font-family: 'AvenirBlack', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  font-size: 11px;
  text-transform: uppercase;
}
#buttons input {
  -webkit-transition: all 0.20s linear;
  -moz-transition: all 0.20s linear;
  -ms-transition: all 0.20s linear;
  -o-transition: all 0.20s linear;
  transition: all 0.20s linear;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-family: 'AvenirBlack', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  background: #971b2f;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 1px 20px;
  position: relative;
  margin-left: -5px;
}
#buttons input:hover {
  background: #494140;
}
/*
#cost, #order-num { color: @maroon; }
*/
#footer {
  font-family: 'AvenirMedium', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
}
p,
#overview .hint,
.hint {
  font-size: 13px;
}
#overview .hint {
  color: #494140;
}
#email input {
  font-size: 13px;
}
#header,
#main,
#footer {
  width: 100%;
}
#container {
  max-width: 100%;
}
#cost,
#order-num {
  font-family: 'AvenirBlack', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-indent: -8px;
}
#discounts .group:first-child {
  margin-top: 0;
}
#cancel-purchase {
  font-size: 11px;
}
#payment:after {
  content: "Please note, orders placed past 10am CST Tuesday will not be shipped until the following Monday via Standard Shipping. Please see our Shipping Information page for more information.";
  display: block;
  padding: 0 12px;
  margin-top: -30px;
  position: relative;
  font-size: 20px;
}
/*-----------------------------------------------------------------------------------*/
/*	5.	=MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 776px) {
  .gleft,
  .gright,
  #wallet,
  #products {
    float: none;
    width: 100%;
    margin-left: 0;
  }
  #wallet {
    text-align: left;
  }
  .gleft {
    margin-bottom: 30px;
  }
  .gright {
    padding-left: 0;
  }
  #buttons {
    text-align: center;
  }
}
@media screen and (max-width: 1400px) {
  
}
@media screen and (max-width: 1300px) {
  
}
@media screen and (max-width: 1260px) {
  
}
@media screen and (max-width: 1150px) {
  
}
@media screen and (max-width: 1100px) {
  
}
/* SITE WIDTH */
@media screen and (max-width: 991px) {
  
}
/* PHONES ONLY */
@media screen and (max-width: 798px) {
  
}
@media screen and (max-width: 509px) {
  
}
/* SMALL PHONES ONLY */
@media screen and (max-width: 479px) {
  
}
