/*-----------------------------------------------------------------------------------

	Site Title: NEOLS
	Site URI:
	Stylesheet: Checkout (for others, see overrides.less)
	Last Backed Up: 6-11-14

	Authored By: Keith @ Dialogue Theory
	Edited By: Nik @ Dialogue Theory
  Author URI: https://www.dialoguetheory.com
	Based on: Launchpad Shopify Theme

-----------------------------------------------------------------------------------


	=TABLE OF CONTENTS

	0. =FONTS
	1. =MIXINS & VARIABLES
	2. =GENERAL
	3. =HEADER
	4. =CONTENT
	5. =FOOTER
	6. =MEDIA QUERIES

	=NOTES

	- QUICK NAVIGATION: do a Find for equals sign followed by section title, e.g. =SECTION TITLE
	- Dialogue Theory loves you.


-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	0.	=FONTS
/*-----------------------------------------------------------------------------------*/
/* Font Face */
@font-face {
  font-family: "League";
  font-style: normal;
  font-weight: normal;
  src: url("font.eot?#iefix") format("embedded-opentype"), url("font.woff") format("woff"), url("font.ttf") format("truetype"), url("font.svg#shopify-social") format("svg");
}
@font-face {
  font-family: 'Novecentowide-DemiBold';
  src: url('Novecentowide-DemiBold.eot?') format('eot'), url('Novecentowide-DemiBold.otf') format('opentype'), url('Novecentowide-DemiBold.woff') format('woff'), url('Novecentowide-DemiBold.ttf') format('truetype'), url('Novecentowide-DemiBold.svg#Novecentowide-DemiBold') format('svg');
}
@font-face {
  font-family: 'Novecentowide-Light';
  src: url('Novecentowide-Light.eot?') format('eot'), url('Novecentowide-Light.otf') format('opentype'), url('Novecentowide-Light.woff') format('woff'), url('Novecentowide-Light.ttf') format('truetype'), url('Novecentowide-Light.svg#Novecentowide-Light') format('svg');
}
@font-face {
  font-family: 'Novecentowide-Medium';
  src: url('Novecentowide-Medium.eot?') format('eot'), url('Novecentowide-Medium.otf') format('opentype'), url('Novecentowide-Medium.woff') format('woff'), url('Novecentowide-Medium.ttf') format('truetype'), url('Novecentowide-Medium.svg#Novecentowide-Medium') format('svg');
}
@font-face {
  font-family: 'QuattrocentoSans';
  src: url('QuattrocentoSans.eot?') format('eot'), url('QuattrocentoSans.woff') format('woff'), url('QuattrocentoSans.ttf') format('truetype'), url('QuattrocentoSans.svg#QuattrocentoSans') format('svg');
}
@font-face {
  font-family: 'QuattrocentoSans-Italic';
  src: url('QuattrocentoSans-Italic.eot?') format('eot'), url('QuattrocentoSans-Italic.woff') format('woff'), url('QuattrocentoSans-Italic.ttf') format('truetype'), url('QuattrocentoSans-Italic.svg#QuattrocentoSans-Italic') format('svg');
}
/* Font Stacks */
.Font {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.Helv {
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
.Arial {
  font-family: Arial, sans-serif;
}
.League {
  font-family: 'League', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.NoveDB {
  font-family: 'Novecentowide-DemiBold', Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.NoveL {
  font-family: 'Novecentowide-Light', Arial, sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.NoveM {
  font-family: 'Novecentowide-Medium', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.Quattro {
  font-family: 'QuattrocentoSans', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.Quattroi {
  font-family: 'QuattrocentoSans-Italic', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
/*-----------------------------------------------------------------------------------*/
/*	0.	=MIXINS & VARIABLES
/*-----------------------------------------------------------------------------------*/
/* Colors */
.Border {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #a69789;
}
.Uppercase {
  text-transform: uppercase;
}
/*-----------------------------------------------------------------------------------*/
/*	1.	=GENERAL
/*-----------------------------------------------------------------------------------*/
html {
  background: #ffffff;
  height: 100%;
}
body {
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  color: #333333;
  font-size: 13px;
  letter-spacing: .01em;
  min-height: 100%;
}
body,
html {
  background-size: contain;
  font-family: 'QuattrocentoSans', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
#content {
  max-width: 100%;
}
a {
  -webkit-transition: all 0.20s linear;
  -moz-transition: all 0.20s linear;
  -ms-transition: all 0.20s linear;
  -o-transition: all 0.20s linear;
  transition: all 0.20s linear;
  color: #494140;
}
a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  max-width: 100%;
}
menu,
ul,
ol {
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Novecentowide-DemiBold', Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
h5 {
  font-family: 'Novecentowide-DemiBold', Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child,
.h5:first-child,
.h6:first-child {
  margin-top: 0;
}
input.form-focus {
  font-style: normal;
  color: #333333;
}
input,
textarea {
  font-family: 'AvenirBook', Arial, sans-serif;
  font-weight: normal;
  max-width: 100%;
  border: 1px solid #121110;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
}
input:focus,
textarea:focus {
  border: 1px solid #a69789;
  -webkit-appearance: none;
}
::selection {
  background: #a69789;
  color: #ffffff;
}
::-moz-selection {
  background: #a69789;
  color: #ffffff;
}
::-webkit-input-placeholder {
  font-family: 'QuattrocentoSans-Italic', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
::-moz-placeholder {
  font-family: 'QuattrocentoSans-Italic', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
/* firefox 19+ */
:-ms-input-placeholder {
  font-family: 'QuattrocentoSans-Italic', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
/* ie */
input:-moz-placeholder {
  font-family: 'QuattrocentoSans-Italic', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
.clearfix {
  clear: both;
  float: none;
}
/*-----------------------------------------------------------------------------------*/
/*	X.	=CUSTOM
/*-----------------------------------------------------------------------------------*/
footer a {
  color: #fff!important;
}
footer a:hover {
  color: #ccc!important;
}
[class^="shopify-social-icon-"]:before,
[class*=" shopify-social-icon-"]:before {
  color: #fff;
}
[class^="shopify-social-icon-"]:hover:before,
[class*=" shopify-social-icon-"]:hover:before {
  color: #fdfdfd;
}
a.btn,
input.btn {
  background: #ff3600;
  text-transform: uppercase;
}
a.btn,
input.btn {
  border: none;
}
/*-----------------------------------------------------------------------------------*/
/*  3.  =CONTENT
/*-----------------------------------------------------------------------------------*/
/* Navigation */
nav {
  margin-top: 0;
}
nav .horizontal {
  margin: 0px;
}
nav > ul > li > a {
  padding: 0 18px;
  font-family: 'Novecentowide-DemiBold', Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 1.1em;
  text-transform: uppercase;
}
nav > ul > li:hover > a {
  color: #e1b172;
}
nav > ul > li:first-child > a {
  padding: 0 18px;
}
/* Dropdown */
nav > ul > li.dropdown > .dropdown {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #a69789;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
nav > ul > li.dropdown > .dropdown li {
  margin: 0 15px 0 0;
}
nav > ul > li.dropdown > .dropdown a {
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}
nav > ul > li.dropdown > .dropdown a:hover {
  color: #e1b172;
}
.dropdown .fa {
  margin-left: 5px;
  opacity: .5;
}
#nav-left {
  text-align: left;
}
#nav-right {
  text-align: right;
}
/* Logo */
#homepage .logo-neols {
  margin-top: -20px;
}
.logo-neols img {
  display: block;
  margin: 0 auto;
  margin-bottom: 80px;
}
/* Top Toolbar */
.toolbar-wrapper {
  height: 35px;
}
.toolbar-wrapper ul li {
  line-height: 35px;
}
.toolbar-wrapper .customer-links {
  float: right;
}
.toolbar-wrapper .toolbar .fa-shopping-cart {
  display: none;
}
.toolbar-wrapper a {
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}
.toolbar .btn {
  font-size: 11px;
}
/* Page */
#background {
  height: 180px;
  background: #160201 url('bg-custom.png') top center no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
}
#page-content,
#page-search,
#page-product,
#page-collection,
#page-collections,
#customer-register,
#customer-login {
  margin-top: 60px;
  font-size: 16px;
  line-height: 24px;
  min-height: 540px;
}
#page-content h1 {
  font-family: 'League', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 4em;
  line-height: 1em;
  text-transform: uppercase;
  color: #121110;
}
#page-content h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}
#login h2,
#register h2 {
  font-family: 'League', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  font-size: 4em;
}
#page-content p {
  margin-bottom: 30px;
}
#page-content blockquote {
  text-transform: uppercase;
  font-family: 'Novecentowide-Light', Arial, sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  text-align: right;
  width: 70%;
  margin: 60px auto;
}
#page-content blockquote span {
  font-size: 16px;
}
#page-content blockquote strong {
  font-family: 'Novecentowide-Medium', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
/* Page Collection */
#page-collection {
  text-align: center;
}
#page-collection h1 {
  font-family: 'League', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 4em;
  line-height: 1em;
  text-transform: uppercase;
  color: #121110;
  text-align: left;
  float: none;
  margin-bottom: 0;
}
#page-collection .product .title {
  font-size: 16px;
  text-transform: uppercase;
  color: #121110;
}
#page-collection .products .image {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #a69789;
}
#page-collection .products .image a,
#page-collection .products .image img {
  border: none;
}
#page-collection .details .price {
  color: #121110;
  font-family: 'Novecentowide-Light', Arial, sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
#page-collection .details .price {
  color: #121110;
  font-family: 'Novecentowide-DemiBold', Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
#collection .browse-tags {
  padding-top: 0;
  margin-bottom: 10px;
  margin-top: -32px;
}
/* Product Page */
#page-product .image.featured {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #a69789;
}
#page-product h1.title {
  font-size: 4em;
  line-height: 1em;
  font-family: 'League', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  color: #121110;
  margin-bottom: 0;
}
#page-product h3.type {
  font-family: 'Novecentowide-Medium', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 40px;
}
#page-product .description {
  margin-bottom: 60px;
}
#page-product h2.price {
  display: block;
  margin: 0 0 0 auto;
  width: 200px;
  text-align: right;
  font-size: 3em;
  font-family: 'Novecentowide-DemiBold', Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  float: right;
}
#page-product h3.variant {
  float: right;
  line-height: 2.6em;
  margin-bottom: 0;
}
#page-product .description strong {
  font-family: 'Novecentowide-DemiBold', Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
#page-product .purchase {
  text-align: right;
}
#page-product .product-options {
  border: none;
}
#page-product .purchase label {
  display: inline-block;
  line-height: 2.3em;
  margin-right: 20px;
  text-transform: uppercase;
}
/* Contacts */
#contactFormWrapper {
  margin-top: 40px;
}
#contactFormWrapper p {
  margin-bottom: 15px;
}
#contactFormWrapper label {
  width: 210px;
  margin-right: 10px;
  text-align: right;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Novecentowide-Medium', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2em;
  font-size: 14px;
}
#contactFormWrapper input {
  width: 230px;
}
#contactFormWrapper textarea {
  width: 230px;
}
#contactFormWrapper input[type=submit] {
  width: 170px;
  height: 46px;
  line-height: 50px;
  font-family: 'League', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2em;
  text-transform: uppercase;
  float: right;
}
.page-with-contact-form blockquote {
  margin: 40px 0 0 0;
  width: auto;
}
#page-content .feedback {
  padding: 15px 20px;
}
#page-content .feedback p {
  margin: 0px;
  font-size: 14px;
  line-height: 18px;
}
#page-content .feedback p.strong {
  color: #ff3600;
  margin-bottom: 10px;
}
#page-content .errorForm {
  background: #f4efee;
}
#page-content .successForm {
  background: #f4efee;
}
/* Account */
#customer_orders {
  margin-bottom: 60px;
}
#page-content #customer_sidebar h2 {
  font-family: 'League', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2em;
}
#page-content h1 span a,
#page-content #customer_sidebar h2 span a {
  font-size: 12px;
  color: #ff3600;
  font-family: 'Novecentowide-Medium', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 20px;
}
#page-content #customer_sidebar p {
  margin-bottom: 0px;
  font-family: 'Novecentowide-Medium', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
#page-content #customer_sidebar p.email a {
  color: #246297;
  text-decoration: underline;
}
/* Homepage */
#homepage-text h1 {
  font-family: 'League', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 7em;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#homepage-text h2 {
  color: #fff;
  font-size: 1em;
}
#homepage-text {
  border: 4px solid white;
  text-align: center;
  color: #fff;
  padding: 35px 35px 20px 35px;
  min-height: 140px;
}
#homepage-content {
  background: #fff;
  padding-top: 1px;
}
#homepage-content h3 {
  font-size: 1.4em;
  color: #121110;
  text-transform: uppercase;
}
#homepage #background {
  height: 605px;
  background: #160201 url('bg-custom.png') top center no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
}
#fp-images {
  margin-top: 40px;
}
#fp-images hr {
  border: 2px solid #121110;
}
#fp-images h3 {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  background: #fff;
  width: 200px;
  margin-bottom: 50px;
  font-size: 14px;
}
#fp-images h4 {
  text-transform: uppercase;
  margin-top: 15px;
}
#fp-images .span3 {
  text-align: center;
}
#fp-images .span3 img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  border: 4px solid #a69789;
}
/* Footer */
footer .btn.newsletter {
  margin: 0;
  font-family: 'League', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px 15px;
  font-size: 1.4em;
  border-radius: 0;
  background: #ff3600;
  height: 32px;
  margin-top: 1px;
}
.footer-menu p {
  margin: 0;
  text-transform: uppercase;
  font-size: 11px;
}
.footer-menu.centered {
  text-align: center;
}
.footer-menu li {
  font-family: 'QuattrocentoSans', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
  text-transform: uppercase;
  display: inline-block;
  float: left;
  line-height: 24px;
  margin: 0 5px;
}
.footer-menu.centered li {
  float: none;
}
.footer-menu li:first-child {
  display: none;
}
footer #mail {
  width: 250px;
  border: 1px solid #121110;
}
footer label {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: 'QuattrocentoSans-Italic', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.social-links a {
  margin: 0;
}
#footer-social {
  text-align: center;
}
#footer-email {
  text-align: right;
}
/*-----------------------------------------------------------------------------------*/
/*	5.	=MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/
/* Desktop Wide */
@media only screen and (min-width: 1340px) {
  #homepage #background {
    height: 705px;
  }
  .social-links a {
    margin: 0.2em;
  }
  footer label {
    font-size: 10px;
    line-height: 38px;
    margin-right: 10px;
  }
  #homepage-text h1 {
    font-size: 8em;
  }
  #homepage-text h2 {
    color: #fff;
    font-size: 1.4em;
  }
  nav > ul > li > a {
    padding: 0 30px;
  }
  nav > ul > li:first-child > a {
    padding: 0 30px;
  }
  #fp-images h4 {
    font-size: 1.4em;
  }
  .footer-menu p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
  }
  .footer-menu li,
  .footer-menu li a {
    font-family: 'QuattrocentoSans', Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-size: 11px;
  }
  .footer-menu li span {
    padding: 0 10px;
  }
  #contactFormWrapper label {
    width: 300px;
  }
  #contactFormWrapper textarea {
    width: 296px;
  }
}
/* Desktop Slim */
@media only screen and (min-width: 768px) and (max-width: 1026px) {
  footer label {
    display: none;
  }
  #homepage .logo-neols {
    margin-top: -10px;
  }
  .social-links a {
    padding: 0;
  }
  [class^="shopify-social-icon-"]:before,
  [class*=" shopify-social-icon-"]:before {
    width: 0.8em!important;
  }
  .footer-menu p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 9px;
    margin-bottom: 2px;
  }
  .footer-menu li,
  .footer-menu li a {
    font-size: 9px;
    line-height: 12px;
  }
  .footer-menu li span {
    padding: 0 5px;
  }
  nav > ul > li > a {
    padding: 0 5px;
    font-size: 1em;
  }
  nav > ul > li:first-child > a {
    padding: 0 5px;
  }
  #contactFormWrapper label {
    width: 342px;
    text-align: left;
  }
  #contactFormWrapper input,
  #contactFormWrapper textarea {
    width: 342px;
  }
}
/* SITE WIDTH
@media screen and (max-width: 991px) {

} */
/* Tablet Landscape */
@media only screen and (min-width: 600px) and (max-width: 797px) {
  #background {
    height: 300px;
  }
  section.span5.nav {
    display: none;
  }
  #homepage .logo-neols {
    margin-top: -5px;
  }
  .span2.logo-neols {
    width: 600px;
  }
  #homepage-text h1 {
    font-size: 5.6em;
  }
  #homepage-text h2 {
    color: #fff;
    font-size: 1em;
    line-height: 1.2em;
  }
  .footer-menu li,
  .footer-menu li a {
    font-size: 10px;
    line-height: 12px;
  }
  footer label {
    display: inline-block;
    font-size: 10px;
  }
  #footer-email {
    margin-top: 20px;
    text-align: center;
  }
  #contactFormWrapper label {
    width: 342px;
    text-align: left;
  }
  #contactFormWrapper input,
  #contactFormWrapper textarea {
    width: 342px;
  }
}
/* Mobile Landscape */
@media only screen and (min-width: 510px) and (max-width: 629px) {
  #background {
    height: 300px;
  }
  section.span5.nav {
    display: none;
  }
  .span2.logo-neols {
    width: 480px;
  }
  #homepage-text h1 {
    font-size: 4em;
  }
  #homepage-text h2 {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .footer-menu p {
    margin-bottom: 5px;
  }
  .footer-menu li,
  .footer-menu li a {
    font-size: 9px;
    line-height: 12px;
  }
  footer label {
    display: inline-block;
    font-size: 10px;
  }
  #footer-email {
    margin-top: 20px;
    text-align: center;
  }
  #contactFormWrapper label {
    width: 98%;
    text-align: left;
  }
  #contactFormWrapper input,
  #contactFormWrapper textarea {
    width: 98%;
  }
  table tr td,
  table tr th {
    padding: 5px;
  }
  #collection .browse-tags {
    padding-top: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
/* Mobile Portrait */
@media only screen and (max-width: 509px) {
  #background {
    height: 300px;
  }
  section.span5.nav {
    display: none;
  }
  .span2.logo-neols {
    width: 200px;
  }
  #homepage-text h1 {
    font-size: 2.4em;
  }
  #homepage-text h2 {
    color: #fff;
    font-size: 1em;
    line-height: 1.2em;
  }
  .footer-menu p {
    margin-bottom: 5px;
  }
  .footer-menu li,
  .footer-menu li a {
    font-size: 9px;
    line-height: 12px;
  }
  footer label {
    display: inline-block;
    font-size: 10px;
  }
  #footer-email {
    margin-top: 20px;
    text-align: center;
  }
  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12,
  .span4.logo-wrapper {
    float: left;
  }
  #contactFormWrapper label {
    width: 98%;
    text-align: left;
  }
  #contactFormWrapper input,
  #contactFormWrapper textarea {
    width: 98%;
  }
  table tr td,
  table tr th {
    padding: 5px;
  }
  #collection .browse-tags {
    padding-top: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 509px) {
  section.span5.nav {
    display: none;
  }
  .span2.logo-neols {
    width: 300px;
  }
}
/* SMALL PHONES ONLY */
@media screen and (max-width: 479px) {
  section.span5.nav {
    display: none;
  }
  .span2.logo-neols {
    width: 280px;
  }
}
