<blockquote>
	{% if settings.contacts_blockquote_body != '' %}<p>"{{ settings.contacts_blockquote_body }}"</p>{% endif %}
	{% if settings.contacts_blockquote_name != '' %}{{ settings.contacts_blockquote_name }}<br/>{% endif %}
	{% if settings.contacts_blockquote_rest != '' %}<strong>"{{ settings.contacts_blockquote_rest }}"</strong>{% endif %}
</blockquote>