<ul id="nav-left" class="horizontal">
  {% for link in linklists.main-menu-left.links %}
  {% assign has_sub_menu = false %}
  {% assign has_sub_categories = false %}
  {% assign parent_link_active = false %}
  {% assign child_list_handle = link.title | handle %}
  {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
    {% assign has_sub_menu = true %}
    {% for l in linklists[child_list_handle].links %}
      {% if handle != blank and handle == l.object.handle %}
        {% assign parent_link_active = true %}
      {% elsif page_title == l.title %}
        {% assign parent_link_active = true %}
      {% endif %}
    {% endfor %}
  {% elsif settings.display_collection_dropdown and link.type == 'collection_link' and link.object.all_tags.size > 0 %}
    {% assign has_sub_categories = true %}
  {% endif %}
  <li class="{% if has_sub_menu or has_sub_categories %} dropdown{% endif %}">
    <a href="{{ link.url }}" {% if link.active or parent_link_active %} class="current"{% endif %}>
      {{ link.title }}
      {% if has_sub_menu or has_sub_categories %} <i class="fa fa-angle-down"></i>{% endif %}
    </a> 
    {% if has_sub_menu or has_sub_categories %}
    <ul class="dropdown">
      {% if has_sub_menu %}
        {% for l in linklists[child_list_handle].links %}
        <li>
          <a href="{{ l.url }}" {% if l.active %} class="current"{% endif %}>{{ l.title }}</a>
        </li>
        {% endfor %}
      {% elsif has_sub_categories %}
        {% for tag in link.object.all_tags %}
        <li >
          <a href="{{ link.url }}/{{ tag | handle }}" {% if current_tags contains tag %} class="current"{% endif %}>{{ tag }}</a>
        </li>
        {% endfor %}
      {% endif %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
