<span class="social-links">
{% if settings.facebook_link != '' %}<a href="{{ settings.facebook_link }}" title="Follow us on Facebook"><span class="shopify-social-icon-facebook"></span></a>{% endif %}
{% if settings.twitter_link != '' %}<a href="{{ settings.twitter_link }}" title="Follow us on Twitter"><span class="shopify-social-icon-twitter"></span></a>{% endif %}
{% if settings.pinterest_link != '' %}<a href="{{ settings.pinterest_link }}" title="Follow us on Pinterest"><span class="shopify-social-icon-pinterest"></span></a>{% endif %}
{% if settings.google_link != '' %}<a href="{{ settings.google_link }}" title="Follow us on Google+"><span class="shopify-social-icon-googleplus"></span></a>{% endif %}
{% if settings.instagram_link != '' %}<a href="{{ settings.instagram_link }}" title="Follow us on Linkedin"><span class="shopify-social-icon-linkedin"></span></a>{% endif %}
{% if settings.vimeo_link != '' %}<a href="{{ settings.vimeo_link }}" title="Follow us on Vimeo"><span class="shopify-social-icon-vimeo"></span></a>{% endif %}
{% if settings.youtube_link != '' %}<a href="{{ settings.youtube_link }}" title="Follow us on YouTube"><span class="shopify-social-icon-youtube"></span></a>{% endif %}
{% if settings.tumblr_link != '' %}<a href="{{ settings.tumblr_link }}" title="Come visit our blog"><span class="shopify-social-icon-tumblr"></span></a>{% endif %}
{% if settings.atom_link != '' %}<a href="{{ settings.atom_link }}" title="Subscribe to our blog"><span class="shopify-social-icon-feed"></span></a>{% endif %}
</span>